@import "./media/changePasswordMedia.scss";
@import "../../share/colors.scss";
@import "../../share/mixins.scss";
@import "../../share/animations.scss";
* {
  margin: 0;
  box-sizing: border-box;
}
.change-password {
  width: 80%;
  margin: 2rem auto;
  .inputs {
    .validation-error {
      text-align: start;
      color: $validation;
    }
    .succsessMessage {
      text-align: start;
      color: $succsess;
    }
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
    input {
      @include input;
      width: 100%;
      margin: 1rem 0rem;
      padding: 1rem 0rem;
      padding-left: 1rem;
    }
    .change-password-btn {
      text-align: end;
      button {
        @include button;
        margin-top: 2rem;
        margin-left: 2rem;
        padding: 0.8rem 1.5rem;
        border-radius: 0.6rem;
      }
      button:hover {
        cursor: pointer;
        background-color: $hover;
      }
    }
  }
}
