<div class="change-password">
  <h3>Change Password</h3>
  <div class="inputs" [formGroup]="changePasswordData">
    <input
      type="password"
      placeholder="Current Password"
      formControlName="oldPassword"
    />
    <input
      type="password"
      placeholder="New Password"
      formControlName="newPassword"
    />
    <div
      class="validation-error"
      *ngIf="!(controls.newPassword.errors?.['maxLength'] | json) && controls.newPassword.dirty"
    >
      * Max 18 characters
    </div>
    <div
      class="validation-error"
      *ngIf="!(controls.newPassword.errors?.['minLength'] | json) && controls.newPassword.dirty"
    >
      * Min 8 characters
    </div>
    <input
      type="password"
      placeholder="Confirmation Password"
      formControlName="confirmPassword"
      (input)="controls.confirmPassword.updateValueAndValidity()"
    />
    <div
      class="validation-error"
      *ngIf="controls.confirmPassword.errors?.['required'] && controls.confirmPassword.dirty"
    >
      {{ controls.confirmPassword.errors?.['required']  }}
    </div>
    <div
      class="validation-error"
      *ngIf="controls.confirmPassword.errors?.['confirm'] && controls.confirmPassword.dirty"
    >
      * {{ controls.confirmPassword.errors?.['confirm']  }}
    </div>
    <div class="validation-error" *ngIf="errorMessage && !succsessMessage">
      * {{ errorMessage }}
    </div>
    <div class="succsessMessage" *ngIf="succsessMessage && !errorMessage">
      * {{ succsessMessage }}
    </div>

    <div class="change-password-btn">
      <button
        (click)="changePassword()"
        [disabled]="changePasswordData.invalid"
      >
        Change Password
      </button>
    </div>
  </div>
</div>
