@import "./media/taskMedia.scss";
@import "../../share/colors.scss";
@import "../../share/mixins.scss";
@import "../../share/animations.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.all-tasks {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  .complated-tasks {
    .complated-tasks-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      .complated-task {
        max-width: 500px;
        margin: auto;
        border: 1px solid black;
        .btns {
          text-align: end;
          padding: 0.5rem 0rem;
          button {
            @include button;
            margin: 0.5rem;
          }
          button:hover {
            cursor: pointer;
            background-color: $hover;
          }
        }
        .table {
          width: 100%;
          text-align: center;
          th {
            border: 1px solid black;
          }
          td {
            width: 100px;
          }
        }
        .description {
          h3 {
            text-align: center;
            margin: 0.5rem 0rem;
          }
          p {
            padding-left: 0.5rem;
          }
        }
      }
    }
  }
}
