<div class="all-tasks" *ngIf="user$ | async">
  <div class="complated-tasks">
    <div class="complated-tasks">
      <div class="complated-tasks-container" *ngIf="isOpenAllTaskPage$ | async">
        <div class="complated-task" *ngFor="let task of activateTasks$ | async">
          <div class="btns">
            <button (click)="changeTaskStatus(task.taskID, 'complated')">
              Complate
            </button>
            <button (click)="editTask(task.taskID)">Edit</button>
            <button (click)="deleteTask(task.taskID)">Delete</button>
          </div>
          <table class="table">
            <tr>
              <th>Title</th>
              <th>Deadline</th>
              <th>Priority Level</th>
              <th>Status</th>
            </tr>
            <td>
              <textarea
                readonly
                name=""
                id=""
                cols="30"
                rows="10"
                value="{{ task.title }}"
              ></textarea>
            </td>

            <td>
              <span>{{ task.deadline }}</span>
            </td>
            <td>
              <span>{{ task.priority }}</span>
            </td>
            <td>
              <span>{{ task.status }}</span>
            </td>
          </table>
          <div class="description">
            <h3>Description</h3>
            <textarea
              readonly
              name=""
              id=""
              cols="30"
              rows="10"
              value="{{ task.description }}"
            ></textarea>
          </div>
        </div>
        <div
          class="complated-task"
          *ngFor="let task of complatedTasks$ | async"
        >
          <div class="btns">
            <button (click)="changeTaskStatus(task.taskID, 'active')">
              Activate
            </button>
            <button (click)="editTask(task.taskID)">Edit</button>
            <button (click)="deleteTask(task.taskID)">Delete</button>
          </div>
          <table class="table">
            <tr>
              <th>Title</th>
              <th>Deadline</th>
              <th>Priority Level</th>
              <th>Status</th>
            </tr>
            <td>
              <textarea
                readonly
                name=""
                id=""
                cols="30"
                rows="10"
                value="{{ task.title }}"
              ></textarea>
            </td>

            <td>
              <span>{{ task.deadline }}</span>
            </td>
            <td>
              <span>{{ task.priority }}</span>
            </td>
            <td>
              <span>{{ task.status }}</span>
            </td>
          </table>
          <div class="description">
            <h3>Description</h3>
            <textarea
              readonly
              name=""
              id=""
              cols="30"
              rows="10"
              value="{{ task.description }}"
            ></textarea>
          </div>
        </div>
      </div>
      <div
        class="complated-tasks-container"
        *ngIf="isOpenActivateTasksPage$ | async"
      >
        <div
          class="complated-task"
          *ngFor="let task of activateTasks$ | async as tasks"
        >
          <div class="test">
            <div class="btns">
              <button (click)="changeTaskStatus(task.taskID, 'complated')">
                Complate
              </button>
              <button (click)="editTask(task.taskID)">Edit</button>
              <button (click)="deleteTask(task.taskID)">Delete</button>
            </div>
            <table class="table">
              <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Priority Level</th>
                <th>Status</th>
              </tr>
              <td>
                <textarea
                  readonly
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                  value="{{ task.title }}"
                ></textarea>
              </td>
              <td>
                <span>{{ task.deadline }}</span>
              </td>
              <td>
                <span>{{ task.priority }}</span>
              </td>
              <td>
                <span>{{ task.status }}</span>
              </td>
            </table>
            <div class="description">
              <h3>Description</h3>

              <textarea
                readonly
                name=""
                id=""
                cols="30"
                rows="10"
                value="{{ task.description }}"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div
        class="complated-tasks-container"
        *ngIf="isOpenComplatedTaskPage$ | async"
      >
        <div
          class="complated-task"
          *ngFor="let task of complatedTasks$ | async"
        >
          <div class="btns">
            <button (click)="changeTaskStatus(task.taskID, 'active')">
              Activate
            </button>
            <button (click)="editTask(task.taskID)">Edit</button>
            <button (click)="deleteTask(task.taskID)">Delete</button>
          </div>
          <table class="table">
            <tr>
              <th>Title</th>
              <th>Deadline</th>
              <th>Priority Level</th>
              <th>Status</th>
            </tr>
            <td>
              <textarea
                readonly
                name=""
                id=""
                cols="30"
                rows="10"
                value="{{ task.title }}"
              ></textarea>
            </td>
            <td>
              <span>{{ task.deadline }}</span>
            </td>
            <td>
              <span>{{ task.priority }}</span>
            </td>
            <td>
              <span>{{ task.status }}</span>
            </td>
          </table>
          <div class="description">
            <h3>Description</h3>
            <textarea
              readonly
              name=""
              id=""
              cols="30"
              rows="10"
              value="{{ task.description }}"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
