$background: rgb(58, 56, 56);
$hover: rgb(123, 122, 122);
$text: white;
$button: rgb(58, 56, 56);
$validation: red;
$succsess: green;
$border: black;
$notifications: white;
$password-verify-window: rgb(144, 138, 138);
