@media only screen and (max-width: 1400px) {
    input{
        width: 100% !important;
    }
    textarea{
        width: 100% !important;
    }
    .btn{
        width: 100% !important;
    }
    .priority-level{
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 1000px) {
    .add-task{
        width: 70% !important;
    }
  }
  @media only screen and (max-width: 800px) {
    .add-task{
        width: 80% !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .add-task{
        width: 90% !important;
    }
  }
  @media only screen and (max-width: 400px) {
    .add-task{
        width: 100% !important;
    }
  }